body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #374151;
}

.question {
  padding: 30px 30vw;
}

.answer {
  padding: 30px 30vw;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;

  ::-webkit-scrollbar{
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bbb;
  }

  code {
    background-color: black !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}

.copy-to-clipboard {
  margin-top: 20px;
  background-color: #343541;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  .lang {
    color: #fff;
    font-size: 10px;
    margin-left: 15px;
  }

  .copy-button {
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
  }
}

.input-container {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 22%, #fff 60%);
  position: sticky;
  bottom: 0;
  height: 16.5vh;
}


.text-input {
  width: 42%;
  height: 5vh;
  box-shadow: 1px 1px 8px #aaa;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);

  & fieldset {
    border-color: white;
  }

  &:hover fieldset {
    border-color: white !important
  }

  &.Mui-focused fieldset {
    border-color: white !important;
  }
}

.generate-button {
  position: absolute;
  top: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
}
