body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #374151;
}

.question {
  padding: 30px 30vw;
}

.answer {
  padding: 30px 30vw;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}

.answer {
  ::-webkit-scrollbar{
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #bbb;
  }
}

.copy-to-clipboard {
  margin-top: 20px;
  background-color: #343541;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;

  .lang {
    color: #fff;
    font-size: 10px;
    margin-left: 15px;
  }

  .copy-button {
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
  }
}
